<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
    <div class="media pt-3 pl-3 pb-1">
        <div class="media-body">
            <p style="margin-top: 5px;">{{ post.user.get_full_name  }}</p>
        </div>
    </div>
    <a href="{% url "post_detail" request.user.username post.pk %}">
        <img style="width: 100%;" src="{{ post.photo.url }}" alt="{{ post.title }}">
    </a>

    <p class="ml-2 mt-0 mb-2">
        <h2>{{ post.title }}</h2>
        <small>{{ post.created }}</small>
        <h3>{{ post.description }}</h3>
        <p>{{ post.text }}</p>
    </p>
    <div class="ml-2 mt-0 mb-2">
        {% for category in object.categories.all %}
            <h1>{{ category.name }}</h1>
        {% endfor %}
    </div>
</div>